﻿      </div> <!-- container -->
   </div> <!-- end #MainView -->

    <footer>
        <a href="http://www.west-wind.com/" class="pull-right">
            <img src="~/images/WestwindText.png" />
        </a>
        <small>&copy; </small>
    </footer>

</body>
</html>