﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular Todo List</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="../touch-icon.png" />

    <link rel="icon" href="../touch-icon.png" />
    <meta name="msapplication-TileImage" content="../touch-icon.png">

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/application.css" rel="stylesheet" />
    <style>
        .row li {
            margin-left: -10px;
        }
        #form1 input.ng-invalid.ng-touched, #form1 textarea.ng-invalid.ng-touched {
            background-color: #ffced1;
        }
        #form1 input.ng-valid.ng-touched, #form1 textarea.ng-valid.ng-touched {
            background-color: #baffc3;
        }


        .todo-item {
            padding: 10px;
            margin-left: 80px;
            border-bottom: 1px solid silver;
            transition: height 1s;
        }

        .todo-header {
            font-weight: bold;
            font-size: 1.2em;
            color: #457196;
        }

        .todo-content {
            padding-left: 40px;
        }

        .completed {
            text-decoration: line-through;
            color: grey !important;
            font-style: italic;
        }     
    </style>
</head>
<body>
    <div class="banner">
        <a class="slide-menu-toggle-open no-slide-menu"
           title="More Samples">
            <i class="fa fa-bars"></i>
        </a>

        <div class="title-bar no-slide-menu">
            <a href="../">
                <img src="../images/icon.png"
                     style="height: 45px; float: left" />
                <div style="float: left; margin: 4px 5px; line-height: 1.0">
                    <i style="color: #0092d0; font-size: 0.9em; font-weight: bold;">West Wind</i><br />
                    <i style="color: whitesmoke; font-size: 1.65em; font-weight: bold;">Web Connection</i>
                </div>
            </a>
        </div>

        <nav class="banner-menu-top pull-right">
            <a href="http://west-wind.com/webconnection/docs/" class="menu-hidable">
                <i class="fa fa-book"></i>
                Documentation
            </a>
            <a href="../">
                <i class="fa fa-home"></i>
                Home
            </a>
        </nav>
    </div>

<div id="MainView" ng-app="app" ng-cloak>
    <div class="container">
        <div class="page-header-text">
            <i class="fa fa-home"></i> Angular Todo List
        </div>

        <div ng-controller="pageController as vm">

            <div class="alert alert-warning alert-dismissable"
                 ng-show="vm.message">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ vm.message }}
            </div>

            <div class="well">
                <form name="form1" id="form1" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bookmark"></i> </span>
                            <input type="text" class="form-control"
                                   id="name"
                                   ng-model="vm.activeTodo.title"
                                   placeholder="Enter the title for this ToDo"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<label class="control-label" for="form-group-input">Description:</label>-->
                        <textarea class="form-control"
                                  id="description"
                                  style="height: 100px"
                                  ng-model="vm.activeTodo.description"
                                  ng-minlength="10"
                                  placeholder="Enter the description for this placeholder"
                                  required></textarea>
                    </div>


                    <button class="btn btn-primary"
                            ng-click="vm.addTodo()"
                            ng-disabled="form1.$invalid">
                        <i class="fa fa-plus"></i> Add Todo
                    </button>
                    <button class="btn btn-primary" ng-click="vm.loadTodos()"><i class="fa fa-download"></i> Load ToDos</button>
                </form>
            </div>


            <div ng-repeat="todo in vm.todos"
                 class="todo-item"
                 ng-class="{ completed: todo.completed}">

                <div class="pull-left" ng-click="vm.toggleCompleted(todo)">
                    <i class="fa "
                           style="cursor: pointer"
                           ng-class="{'fa-bookmark-o': !todo.completed,'fa-bookmark': todo.completed}"></i>
                </div>

                <!--<input type="checkbox"
                       class="pull-left"
                       ng-model="todo.completed" />-->

                <div class="pull-right" ng-click="vm.removeTodo(todo)">
                    <i class="fa fa-remove" style="color: darkred; cursor: pointer"></i> 
                </div>

                <div class="todo-content">
                    <div class="todo-header">
                        {{ todo.title}}
                    </div>
                    <div>
                        {{todo.description}}
                    </div>
                </div>
            </div>

            {{vm.todos}}
        </div>

    </div>
</div>
    

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="todo.js"></script>

    <script>

    </script>
</body>
</html>