<div ng-controller="albumsController as vm"
     class="container container-fluid">

    <error-display error="vm.error"></error-display>
    <!--<div class="alert alert-dismissable alert-{{vm.error.icon}}"
         ng-show="vm.error.message"
         role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span ng-bind="vm.error.message"></span>
    </div>-->


    <button class="btn btn-sm btn-success pull-right" ng-click="vm.addAlbum()"><i class="fa fa-plus"></i> Add Album</button>
    <div class="page-header-text">
        <i class="fa fa-list">
        </i> Albums <span class="badge">{{vm.albums.length}}</span>
    </div>

    <div class="container" ng-show="vm.busy">
        <i class="fa fa-circle-o-notch fa-spin fa-5x"
           style="display: block; text-align: center; margin-top: 55px;"></i>
    </div>
    <!-- use a custom $scope filter to search only artist and album name instead of filter: vm.searchText -->
    <div class="album" 
         ng-repeat="album in vm.albums | filter: vm.albumsFilter:vm.searchText" 
         ng-click="vm.albumClick(album)">
        <div class="album-overlay">
            <a href="#/album/edit/{{album.Id}}"><i class="fa fa-edit" title="Edit"></i></a> &nbsp;
            <a ng-click="vm.deleteAlbum(album)"><i class="fa fa-remove" title="Delete"></i></a>
        </div>
        <div>
            <img ng-src="{{album.ImageUrl}}" class="album-image" />
            <div style="padding-left: 80px;">
                <div class="album-title">{{album.Title}}</div>
                <div class="album-artist">by {{album.Artist.ArtistName}} {{(album.Year ? 'in ' + album.Year : '')}}</div>
                <div class="album-descript">{{album.Description}}</div>
            </div>
        </div>
    </div>
</div>